html{
    font-size: 1.5rem;
}

body{
    background-color: #333;
    color: white;
}

.audio{
    width: 100%;
}

.controls_container{
    justify-content: left;
    display: flex;
    align-items: start;
}

#json_raw{
    resize: both;
    overflow: scroll;
    height: 25rem;
    width: 10rem;
}

.attribute{
    width: 100%;
    display: inline-block;
    background-color: #ddd;
    border: solid 1px #444;
    margin: 2px 0;
    border-radius: .3rem;
}
.checkbox{
    display: none;
}
input:checked + label {
    background-color: #6ab5ff;
  }
input:disabled + label {
    background-color: #646464;
    text-decoration: line-through;
}
#controls{
    display: table;
}
#dirs{
    width: 30%;
    overflow: scroll;
    resize: both;
    height: 30rem;
}
figure{
    margin:0;
    white-space: nowrap;
}

#checking_word{
    /* font-size: 5rem; */
    font-size: 1.2rem;
    background: gray;
    background-color: #c2c2c2;
}

.word_around{
    font-size: 1.2rem;
    background-color: #c2c2c2;
}

.flash{
    background-color:#e1c171;
}

.speaker1{
    color: red;
}
.speaker2{
    color: green;
}
.speaker3{
    color: blue;
}
.speaker4{
    color: purple;
}
.speaker5{
    color: pink;
}

.value_bar_laugh{
    height: 1rem;
    background-color: red;
    transition-duration: .2s;
    transition-timing-function: cubic-bezier(0.39, 0.58, 0.57, 1);
}
.value_bar_speech{
    height: 1rem;
    background-color: greenyellow;
    transition-duration: .2s;
    transition-timing-function: cubic-bezier(0.39, 0.58, 0.57, 1);
}

.yamnet_category{
    margin-bottom: 0;
}

.thres_line{
    position: absolute;
    width: 1px;
    height: 100%;
    top: 0;
    left: 5%;
    background: blue;
}

#waveform-container{
    width: 800px;
    border: 1px solid;
}

.loading{
    position: fixed;
    display: none;
    width: 100%;
    margin: 0;
    height: 100%;
    background: #222b;
    padding: 0;
    z-index: 1;
}

.loading-text{
    text-align: center;
    margin-top: 35%;
    font-family: sans-serif;
}

/* compare.html */
#laughters_container{
    height: 85vh;
    margin: 0;
}

.laughter_json{
    position: relative;
    height: 33.3%;
    overflow-x: scroll;
    overflow-y: hidden;
}

.laughter_json_name{
    size: 1rem;
}

.laughter_json_input{
    position: fixed;
    z-index: 100;
}

.seekbar{
    position: absolute;
    background-color: aliceblue;
    top: 0px;
    height: 100%;
    width: 1px;
}

.endbar{
    position: absolute;
    background-color: aquamarine;
    top: 0px;
    height: 100%;
    width: 1px;
}

.sec_text{
    font-family: sans-serif;
    position: absolute;
    background-color: green;
    height: 30px;
    color: white;
    font-size: 30px;
}

.sec_text:hover {
    border: .1rem solid;
    z-index: 1;
    color: white;
}